* {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: #FFFFFF;
    background-color: #181818;
    
}

:root{
    --backgroundMainColor : #181818;
    --backgoundSecondColor : #202020;
    --actientColor : #1DB954;
    --fontMainColor : #FFFFFF;
    --fontSecondColor : #AAAAAA;
    --strokeColor : #333333;
    --strokeRadius: 12px;

}

body{
    margin-left: 120px;
    margin-right: 120px;
}

.track-name{
    font-size: 20px;
    font-weight: 500;
    color: var(--fontMainColor);
}

.track-author{
    font-size: 16px;
    font-weight: 400;
    color: var(--fontSecondColor);
}

img {
    pointer-events: none;
}
